

main, footer {
    max-width: 1024px; 
    margin: 0 auto; 

}

  figure.bnbimage img, figure.bnbimage img {width: 100%;}
    figure.bnbimage {width: 100%; max-width:1024px; margin: 0 auto;}





.companyname {
    font-size: 42px; 
    color: white; 
    position: absolute;
    top: 8px; 
    left: 100px; 
    margin: 0 auto; 
     
}

.companyslogan {
    font-size: 30px; 
    color: white; 
    position: absolute;
    top: 60px; 
    left: 100px;
    margin: 0 auto;  
    
}


.companynamepage {
    margin: auto 0px; 
    padding-left: 60px;  
    color: darkgreen;
    background-color: whitesmoke; 
    padding-top: 30px; 
    padding-bottom: 30px; 
}

.name {
    padding-left: 60px; 
    font-size: 24px; 
    padding-top: 20px; 
    font-weight: 500px; 
}



.todaysdate {
    padding-left: 60px; 
    font-size: 18px; 
    padding-top: 20px; 
}


.newdate {
    padding-left: 60px;  
    font-size: 18px; 
    padding-top: 10px; 
    
}

.skills {
    padding-left: 60px;
    color: darkgreen; 
    background-color: whitesmoke; 
    padding-top: 30px; 
    padding-bottom: 30px;
}


.listofskills {
    padding-left: 80px;
    font-size: 18px; 
    
    
}

.windowsize {
    background-color: whitesmoke; 
    padding-top: 20px; 
    padding-left: 60px; 
    padding-bottom: 20px; 
    font-size: 16px; 
    
    
}





.copyright {
    text-align: center; 
    font-size: 14px; 
    padding: 5px; 
    background-color: darkgreen; 
    color: white; 
    
}

